# Mac OS
.DS_Store
.DS_Store?
dot_DS_Store
dot_DS_Store?

# Jetbrains
.idea/

# Claude
chezmoi/dot_claude/*
!chezmoi/dot_claude/settings.json
!chezmoi/dot_claude/statusline-command.sh
!chezmoi/dot_claude/run_onchange_after_sync-claude-evp.sh.tmpl
