{{- $name := "Nathakorn Chaninthanadecha" -}}
{{- $email := "nathakorn.tonch@gmail.com" -}}
{{- $github_user := "nijicha" -}}
{{- $computer_name := default "nijicha-computer-name" (env "CM_computer_name") -}}
{{- $hostname := default "nijicha" (env "CM_hostname") -}}
{{- $asdf_version := "0.9.0" -}}
{{- $gpg_recipient := "" -}}

{{- if (env "ASK") }}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $computer_name = promptString "Computer Name" $computer_name -}}
{{-   $hostname = promptString "Hostname" $hostname -}}
{{-   $asdf_version = promptString "Asdf Version" $asdf_version -}}
{{-   $gpg_recipient = promptString "GPG Recipient" $gpg_recipient -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  computer_name: {{ $computer_name | quote }}
  hostname: {{ $hostname | quote }}
  asdf_version: {{ $asdf_version | quote }}
