{{- $name := "Nathakorn C" -}}
{{- $email := "nathakorn.tonch@gmail.com" -}}
{{- $github_user := "nijicha" -}}
{{- $signing_key := default "PLEASE_INSERT_YOUR_SIGNING_KEY" -}}

{{- if (env "ASK") }}
{{-   $name = promptString "Full Name" $name -}}
{{-   $email = promptString "Email" $email -}}
{{-   $github_user = promptString "GitHub Username" $github_user -}}
{{-   $signing_key = promptString "Hostname" $signing_key -}}
{{- end }}

data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}
  github_user: {{ $github_user | quote }}
  signing_key: {{ $signing_key | quote }}

edit:
  command: code
  args: --wait

diff:
  command: delta
  pager: delta
