[color]
    ui = true
[user]
    name = {{ .name }}
    email = {{ .email }}
[core]
    autocrlf = input
    excludesfile = ${HOME}/.gitignore_global
    editor = vim
[pager]
    branch = cat
[init]
    defaultBranch = main
[ghq]
    vcs = git
    root = ~/Workspace/ghq
